assistant/bot_main/__pycache__/__init__.cpython-38.pyc
assistant/main/__pycache__/__init__.cpython-38.pyc
assistant/main/__pycache__/GUI.cpython-38.pyc
assistant/main/__pycache__/initials.cpython-38.pyc
assistant/main/__pycache__/take_command.cpython-38.pyc
assistant/main/__pycache__/tasks.cpython-38.pyc
assistant/main/__pycache__/text_to_speech.cpython-38.pyc
assistant/main/__pycache__/word_game.cpython-38.pyc
