assistant/bot_main/__pycache__/__init__.cpython-39.pyc
assistant/bot_main/__pycache__/text_to_speech.cpython-39.pyc
assistant/configurations/__pycache__/__init__.cpython-39.pyc
assistant/configurations/__pycache__/theme.cpython-39.pyc
assistant/bot_comp/__pycache__/__init__.cpython-39.pyc
assistant/bot_comp/__pycache__/processor.cpython-39.pyc
.directory