.vscode/extensions.json
.vscode/launch.json
__pycache__/ASSISTANT_2.cpython-38.pyc
__pycache__/ASSISTANT_RUN.cpython-38.pyc
__pycache__/comp_client.cpython-38.pyc
__pycache__/comp_client.cpython-39.pyc
__pycache__/dictionary.cpython-38.pyc
__pycache__/get_response.cpython-38.pyc
__pycache__/gui_server.cpython-38.pyc
__pycache__/GUI_Server.cpython-39.pyc
__pycache__/GUI.cpython-38.pyc
__pycache__/initials.cpython-38.pyc
__pycache__/initials.cpython-39.pyc
__pycache__/news.cpython-38.pyc
__pycache__/open_website.cpython-38.pyc
__pycache__/perform_task.cpython-38.pyc
__pycache__/play_on_youtube.cpython-38.pyc
__pycache__/processor.cpython-38.pyc
__pycache__/processor.cpython-310.pyc
__pycache__/pywhatkit_for_assistant.cpython-38.pyc
__pycache__/t1.cpython-38.pyc
__pycache__/take_command.cpython-38.pyc
__pycache__/take_command.cpython-39.pyc
__pycache__/tasks.cpython-38.pyc
__pycache__/test_pro.cpython-38.pyc
__pycache__/test1.cpython-38.pyc
__pycache__/test3.cpython-38.pyc
__pycache__/test4.cpython-38.pyc
__pycache__/testing.cpython-38.pyc
__pycache__/text_to_speech.cpython-38.pyc
__pycache__/text_to_speech.cpython-39.pyc
__pycache__/weather.cpython-38.pyc
__pycache__/wish_me.cpython-38.pyc
__pycache__/wolframalpha_question.cpython-38.pyc
bot_main/__pycache__/processor.cpython-38.pyc
bot_main/__pycache__/take_command.cpython-38.pyc
